$ff-primary: 'Poppins', sans-serif;

    $fw-regular: 400;
    $fw-medium: 500;
    $fw-semi-bold: 600;
    $fw-bold: 700;
    $fw-extra-bold: 800;

    $fs-13: 1.08rem;
    $fs-16: 1.33rem;
    $fs-18: 1.5rem;
    $fs-20: 1.67rem;
    $fs-24: 2rem;
    $fs-35: 2.92rem;
    $fs-45: 3.75rem;
    $fs-65: 5.42rem;


    $clr-white: #FFFFFF;
    $clr-white-smoke: #F5F5F5;
    $clr-gray: #BBBBBB;
    $clr-dark-gray: #616365;
    $clr-light-red: #FF7373;
    $clr-dark: #222529;
    $clr-accent: #23262A;
    $clr-shadow: rgba(0, 0, 0, 0.06); 



