.card {
  img {
    width: 100%;
    background-color: $clr-dark-gray;
  }

  .card_menu {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;

    .menu-link {
      position: relative;
      background-color: $clr-white;
      color: $clr-dark;
      width: 36px;
      height: 36px;
      margin-bottom: 15px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 6px 4px $clr-shadow;
      border: none;
      outline: none;

      &:hover {
        color: $clr-white;
        background-color: $clr-dark;
      }
    }
  }

  ._category {
    letter-spacing: 1px;
    font-size: $fs-13;
    font-weight: $fw-medium;
    color: $clr-dark-gray;
  }

  ._title {
    font-size: $fs-16;
    font-weight: $fw-semi-bold;
  }

  ._price {
    font-size: $fs-18;
    font-weight: $fw-semi-bold;
  }

  &:hover {
    .card-menu {
      display: block !important;
    }

    .btn-card-theme {
      display: flex !important;
    }
  }
}

@media (min-width: 1200px) {
  .card {
    img {
      height: 210px;
    }
  }
}
